.footer {
    position: fixed;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.navbar-brand {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}